# --extra-index-url ... 이 라인을 삭제하거나 주석 처리합니다.
# --extra-index-url https://download.pytorch.org/whl/cu116
torch==1.12.1
torchvision==0.13.1
torchaudio==0.12.1
ray[tune]==2.2.0
transformers==4.25.1
peft==0.2.0
datasets==2.8.0
accelerate==0.15.0
sentencepiece==0.1.97
optuna==3.0.4
scipy==1.9.3
click==8.1.3
jinja2==3.1.2
matplotlib==3.6.2
pytest==7.2.0